.container {
    height: 100%;
}

.container .logo {
    height: 100px;
    padding: 16px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.logo p {
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}
.logo p:first-child {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 5px;
}
.logo p:last-child {
    font-size: 12px;
    text-align: right;
}
